.card {
  width: 12rem;
  height: 12rem;
  margin: 1rem;
  border-radius: 8px;
  cursor: pointer;
  perspective: 100rem;
}

.card__inner {
  width: 100%;
  height: 100%;
  border-radius: 8px;
  border: 1rem solid var(--color-primary-dark);
  background-color: var(--color-primary);
  transition: transform .75s;
  transform-style: preserve-3d;
}

.card:hover .card__inner {
  transform: rotateY(180deg);
}

.card__inner--front, .card__inner--back {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 1rem;
  backface-visibility: hidden;
}

.card__inner--front__image {
  width: 100%;
  height: 100%;
}

.card__inner--back {
  text-align: center;
  transform: rotateY(180deg);
}

.card__inner--back__image {
  height: 75%;
  backface-visibility: hidden;
}

.card__inner--back__text {
  font-size: 1.4rem;
  font-weight: 800;
  letter-spacing: 2px;
  color: var(--color-primary-dark);
  text-shadow: 2px 0 0 var(--color-black),
              -2px 0 0 var(--color-black),
               0 2px 0 var(--color-black),
               0 -2px 0 var(--color-black),
               1px 1px var(--color-black),
              -1px -1px 0 var(--color-black),
               1px -1px 0 var(--color-black),
              -1px 1px 0 var(--color-black);
}
